In [1]:
import pandas as pd

In [2]:
folder = "./datasets_models/"

In [3]:
df = pd.read_csv(folder + "mean_data_x_day.csv")

In [4]:
df

                 comarca data_lectura       temp  precip       hume
0        Vallès Oriental   2009-01-01   8.059722     0.0  86.152778
1        Vallès Oriental   2009-01-02   7.416667     0.8  91.291667
2        Vallès Oriental   2009-01-03   5.665278     0.0  92.083333
3        Vallès Oriental   2009-01-04   4.345833     0.2  81.638889
4        Vallès Oriental   2009-01-05   3.138824     0.2  76.811765
...                  ...          ...        ...     ...        ...
37095  Vallès Occidental   2023-07-05  21.832143     1.2  84.946429
37096  Vallès Occidental   2023-07-06  22.760119     2.0  76.791667
37097  Vallès Occidental   2023-07-07  23.723214     0.0  68.672619
37098  Vallès Occidental   2023-07-08  25.869048     0.0  61.208333
37099  Vallès Occidental   2023-07-09  25.338776     0.0  63.390476

[37100 rows x 5 columns]

In [5]:
df = df.sort_values(['comarca', 'data_lectura'])
df

              comarca data_lectura       temp  precip       hume
5300      Alt Penedès   2009-01-01   7.972500     0.6  85.850000
5301      Alt Penedès   2009-01-02   7.803333    10.7  91.841667
5302      Alt Penedès   2009-01-03   7.153333     4.4  90.591667
5303      Alt Penedès   2009-01-04   5.501667     0.0  82.900000
5304      Alt Penedès   2009-01-05   3.429167     0.2  76.541667
...               ...          ...        ...     ...        ...
5295  Vallès Oriental   2023-07-05  20.505594     0.8  83.839161
5296  Vallès Oriental   2023-07-06  21.566667     2.3  73.333333
5297  Vallès Oriental   2023-07-07  23.202083     0.1  61.673611
5298  Vallès Oriental   2023-07-08  25.474306     0.0  55.194444
5299  Vallès Oriental   2023-07-09  25.430952     0.0  54.833333

[37100 rows x 5 columns]

In [6]:
df['temp_anterior'] = df.groupby('comarca')['temp'].shift(1)
df['precip_anterior'] = df.groupby('comarca')['precip'].shift(1)
df['hume_anterior'] = df.groupby('comarca')['hume'].shift(1)

In [7]:
df.to_csv(folder + "data.csv", index=False)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 37100 entries, 5300 to 5299
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   comarca          37100 non-null  object
 1   data_lectura     37100 non-null  object
 2   temp             37100 non-null  float64
 3   precip           37100 non-null  float64
 4   hume             37100 non-null  float64
 5   temp_anterior    37093 non-null  float64
 6   precip_anterior  37093 non-null  float64
 7   hume_anterior    37093 non-null  float64
dtypes: float64(6), object(2)
memory usage: 2.5+ MB